In [1]:
#import packages
import pandas as pd
import numpy as np

In [13]:
dfTrain = pd.read_csv('data/train.csv')
dfTest = pd.read_csv('data/test.csv')

In [14]:
dfTrain.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [15]:
#Employee ID would not be important feature here.
dfTrain.drop(columns = ['employee_id'])

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
5,Analytics,region_2,Bachelor's,m,sourcing,2,31,3.0,7,0,0,85,0
6,Operations,region_20,Bachelor's,f,other,1,31,3.0,5,0,0,59,0
7,Operations,region_34,Master's & above,m,sourcing,1,33,3.0,6,0,0,63,0
8,Analytics,region_20,Bachelor's,m,other,1,28,4.0,5,0,0,83,0
9,Sales & Marketing,region_1,Master's & above,m,sourcing,1,32,5.0,5,1,0,54,0
10,Technology,region_23,NaN,m,sourcing,1,30,NaN,1,0,0,77,0
11,Sales & Marketing,region_7,Bachelor's,f,sourcing,1,35,5.0,3,1,0,50,1
12,Sales & Marketing,region_4,Bachelor's,m,sourcing,1,49,5.0,5,1,0,49,0
13,Technology,region_29,Master's & above,m,other,2,39,3.0,16,0,0,80,0
14,R&D,region_2,Master's & above,m,sourcing,1,37,3.0,7,0,0,84,0
15,Operations,region_7,Bachelor's,m,other,1,37,1.0,10,0,0,60,0
16,Technology,region_2,Bachelor's,m,other,1,38,3.0,5,1,0,77,0
17,Sales & Marketing,region_31,Bachelor's,m,other,1,34,1.0,4,0,0,51,0
18,Sales & Marketing,region_31,Bachelor's,m,other,1,34,5.0,8,1,0,46,0
19,Operations,region_15,Bachelor's,m,other,1,37,3.0,9,0,0,59,0
20,Procurement,region_14,Bachelor's,m,other,1,35,3.0,7,0,0,75,0
21,Operations,region_15,NaN,m,sourcing,1,41,4.0,11,0,0,57,0
22,Finance,region_11,Bachelor's,f,other,1,28,3.0,4,0,0,63,0
23,Procurement,region_5,Bachelor's,m,other,1,27,NaN,1,0,0,70,0
24,Finance,region_22,Master's & above,m,sourcing,2,39,5.0,7,0,0,59,0
25,Technology,region_22,Bachelor's,m,other,1,27,5.0,3,1,0,83,0
26,Procurement,region_26,Bachelor's,m,other,1,31,5.0,4,1,0,68,0
27,Technology,region_26,Bachelor's,m,other,1,33,4.0,4,0,0,79,0
28,Analytics,region_5,Bachelor's,m,other,1,29,5.0,3,1,0,80,0
29,Sales & Marketing,region_4,Bachelor's,m,sourcing,1,26,NaN,1,0,0,44,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54778,Procurement,region_2,Bachelor's,f,sourcing,1,30,3.0,3,0,0,70,0
54779,Technology,region_30,Bachelor's,f,sourcing,1,34,3.0,3,0,0,86,0
54780,Operations,region_19,Bachelor's,f,sourcing,1,39,5.0,7,0,0,60,0
54781,HR,region_27,Bachelor's,f,sourcing,1,38,5.0,3,1,0,50,0
54782,Operations,region_2,Below Secondary,m,sourcing,2,26,3.0,2,0,0,60,0
54783,Procurement,region_2,Below Secondary,m,other,3,23,3.0,2,0,0,71,0
54784,Sales & Marketing,region_30,Bachelor's,m,other,1,39,5.0,9,0,0,48,0
54785,Technology,region_26,Bachelor's,m,other,1,33,4.0,7,1,0,77,0
54786,Sales & Marketing,region_31,Bachelor's,f,sourcing,2,31,1.0,4,0,0,51,0
54787,Technology,region_27,Bachelor's,m,sourcing,4,26,3.0,3,0,0,84,0
54788,Sales & Marketing,region_13,Bachelor's,f,sourcing,2,28,3.0,3,0,0,48,0
54789,Sales & Marketing,region_7,Master's & above,m,other,3,31,3.0,9,0,0,50,0
54790,HR,region_2,Bachelor's,f,sourcing,1,48,5.0,4,0,0,49,0
54791,Technology,region_11,Bachelor's,m,sourcing,1,32,1.0,3,1,0,82,0
54792,Sales & Marketing,region_14,Bachelor's,m,other,1,59,3.0,11,0,0,65,1
54793,Technology,region_2,Bachelor's,m,other,1,33,1.0,9,0,0,79,0
54794,Operations,region_16,Bachelor's,m,other,1,37,4.0,7,1,0,54,0
54795,Procurement,region_15,Master's & above,m,other,1,35,3.0,7,0,0,70,0
54796,Sales & Marketing,region_25,Master's & above,m,other,1,34,3.0,7,0,0,60,1
54797,Sales & Marketing,region_11,Bachelor's,m,sourcing,1,28,5.0,3,1,1,47,0
54798,Sales & Marketing,region_2,Master's & above,f,other,2,40,5.0,4,1,0,51,0
54799,Procurement,region_2,Master's & above,f,other,1,50,5.0,6,1,1,67,0
54800,HR,region_11,Bachelor's,m,other,2,34,5.0,3,0,0,52,0
54801,Technology,region_26,Bachelor's,f,sourcing,1,31,NaN,1,0,0,78,0
54802,Sales & Marketing,region_14,Bachelor's,m,other,2,31,1.0,2,0,0,49,0
54803,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
54804,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
54805,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
54806,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0
54807,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

In [16]:
dfTrain.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [18]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [19]:
dfTrain['is_promoted'].value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [20]:
dfTrain.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [ ]:
#Education and Previous year rating missing!!