<a href="https://colab.research.google.com/github/avi26-git/ML/blob/master/Employee%20Promotion%20Prediction/Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Employee Promotion Prediction

In [0]:
#import packages
import pandas as pd
import numpy as np

In [0]:
#to get files from local file use 'files.upload' from google.colab
from google.colab import files
uploaded = files.upload()

Saving test_2umaH9m.csv to test_2umaH9m.csv
Saving train_LZdllcl.csv to train_LZdllcl.csv

In [0]:
#get train and test data
import io
dfTrain = pd.read_csv(io.BytesIO(uploaded['train_LZdllcl.csv']))
dfTest = pd.read_csv(io.BytesIO(uploaded['test_2umaH9m.csv']))

In [0]:
dfTrain.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

Employee ID would not be important feature here.

In [0]:
del dfTrain['employee_id']
del dfTest['employee_id']

In [0]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 13 columns):
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(7), object(5)
memory usage: 5.4+ MB

In [0]:
dfTrain.describe()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [0]:
dfTrain['is_promoted'].value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [0]:
dfTrain.isnull().sum()

department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

This shows us that we do not know a few 'education' and 'previous year rating'!

# ###Preprocessing data

#### Rescaling Data

Rescaling attributes to have a similar range. (Why?)
We scale the data in a 0-1 range and call it normalization.
We will use MinMaxScaler Class from scikit-learn to do so.

In [0]:
from sklearn.preprocessing import MinMaxScaler

#Taking the features and target.
features  = dfTrain.values[:,0:8]
target = dfTrain.values[:,8]

scaler = MinMaxScaler(feature_range=(0,1))
rescaledFeatures = scaler.fit_transform(features)

rescaledFeatures

ValueError: ignored